<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /quinta-do-barco/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /quinta-do-barco/index.html [L]
</IfModule>
